# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Runtime data
pids/
*.pid
*.seed

# Environment files
.env

# OS files
.DS_Store

# IDEs
.vscode/
.idea/

# Build outputs
dist/
build/

# Docker files
docker-compose.override.yml

# Terraform
*.tfstate
*.tfstate.backup
.terraform/

# Helm
helm-chart/myservice/templates/_helpers.tpl

# Others
*.tgz
